* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #d3d3d3;
  font: 20px;
  margin: 1rem;
}
a {
  color: #5f1a37;
  text-decoration: none;
}
a:hover {
  color: #dc143c;
}

ul {
  list-style-type: none;
}

.container {
  height: 100%;
}

.footer {
  align-items: center;
  background-color: #0fafe0;
  border-top: 0.1rem solid black;
  bottom: 0;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  padding: 0.5rem;
  position: fixed;
}

.header {
  align-items: center;
  background-color: #11ddd3;
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #eb660d;
  margin-left: 1rem;
}

.nav--margin-right {
  margin-right: 1rem;
}

.nav-list {
  display: flex;
}

.nav-list__item {
  margin-right: 0.5rem;
}

.nav-list__item:last-child {
  margin-right: 0.5rem;
}

.toast {
  font-size: 20px;
  position: fixed;
  bottom: 4.8rem;
  right: 0.5rem;
  margin-left: 0.5rem;
  max-width: 15rem;
  padding: 0.25rem 0.5rem;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 0 0 1px #fff;
  cursor: pointer;
  color: #fff;
  background: rgb(255, 174, 0);
  transition: 0.2s ease-out;
  text-decoration: none;
  transform: translateY(calc(100% + 1rem));
  animation: toast-pop 0.5s ease-out 2s forwards;
}
