<header class="header">
    <a href="/home">
        <img src="/images/Music_multimedia-02-512.png" alt="Noisy Nimbus" class="hero-image__github">
    </a>
    <h1 class="header-title">Noisy Nimbus</h1>
    <nav class="nav nav-margin__right">
        <ul class="nav-list">
            <li class="nav-list__item"><a th:href="@{/home}">Home</a></li>
            <li class="nav-list__item"><a th:href="@{/author}">Musicians</a></li>
            <li class="nav-list__item"><a th:href="@{/genre}">Genres</a></li>
            <li class="nav-list__item:last-child"><a th:href="@{/postTag}">Tags</a></li>
        </ul>
    </nav>

</header>