<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Noisey Nimbus Musicians</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div>
            <h2>Add New Musician</h2>
            <form action="/author/add" method="POST">
                <label>
                    <input type="text" required name="name" placeholder="jonny cash" />
                    <button type="submit">Create New Musician</button>
                </label>
            </form>
        </div>

        <div class="author" th:each="author: ${authorsModel}">
            <a th:href="|/author/${author.id}|">
                <h1 th:text="${author.name}">Name</h1>
            </a>

        </div>

    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>