<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Noisey Nimbus Genres</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div class="genre" th:each="genre: ${genresModel}">
            <a th:href="|/genre/${genre.name}|">
                <h1 th:text="${genre.name}">Name</h1>
            </a>

        </div>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>