<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proof of Concept Post</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main>
        <div class="author" th:each="author: ${postsModel}">
            <a th:href="|/author/${author.id}|">
                <h3 th:text="${author.name}"> Name </h3>
            </a>
        </div>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>