<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Genre</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div class="genre" th:each="genre: ${genreModel}">
            <a th:href="|/genre/${genre.name}|">
                <h3 th:text="${genre.name}"> Name </h3>
            </a>
        </div>
        <a href="/genre/">All Genres</a>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>