<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>Musician <h1 th:text="${author.name}"></h1> -->
    <!-- </title> -->
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main>
        <div class="post" th:each="post: ${postsModel}">
            <a th:href="|/author/post/${post.id}|">
                <h1 th:text="${post.title}">Title</h1>
            </a>

        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>