<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Document</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div class="postTag" th:each="postTag: ${postTagModel}">
            <a th:href="|/postTag/${postTag.name}|">
                <h1 th:text="${postTag.name}"> Name </h1>
            </a>
        </div>

        <h2>List of post</h2>
        <div class="post" th:each="post: ${postTagListModel}">
            <a th:href="|/author/post/${post.id}|">
                <h3 th:text="${post.title}">Titlex</h3>
            </a>

        </div>
        <a href="/postTag/">All Tags</a>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>