<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Noisey Nimbus Genre</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <h1>Genre Name</h1>
        <div class="genre" th:each="genre: ${genreModel}">
            <a th:href="|/genre/${genre.name}|">
                <h2 th:text="${genre.name}"> Name </h2>
            </a>
        </div>
        <h2>List of Songs</h2>
        <div class="post" th:each="post: ${postsModel}">
            <a th:href="|/author/post/${post.id}|">
                <h2 th:text="${post.title}">Title</h2>
            </a>
        </div>
        <a href="/genre/">Back to all Genres</a>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>