<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Song</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div class="author" th:each="author: ${postsModel}">
            <a th:href="|/author/${author.id}|">
                <h3 th:text="${author.name}"> Name </h3>
            </a>
        </div>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>