<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Noisey Nimbus Tag</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <h1>Tag Name</h1>
        <div class="postTag" th:each="postTag: ${postTagModel}">
            <a th:href="|/postTag/${postTag.name}|">
                <h2 th:text="${postTag.name}"> Name </h2>
            </a>
        </div>

        <h2>List of Songs</h2>
        <div class="post" th:each="post: ${postTagListModel}">
            <a th:href="|/author/post/${post.id}|">
                <h2 th:text="${post.title}">Title</h2>
            </a>

        </div>
        <a href="/postTag/">Back to all Tags</a>
    </main>

    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>