<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Proof of Concept Tags</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main>
        <div class="postTags" th:each="postTag: ${postTagModel}">
            <a th:href="|/postTag/${postTag.name}|">
                <h1 th:text="${postTag.name}">Name</h1>
            </a>

        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>