<!DOCTYPE html>
<html lang="en">

<head>
    <div th:insert="fragments/head.html :: head"></div>
    <title>Noisey Nimbus Tags</title>
</head>

<body>
    <Header th:replace="fragments/header.html :: header"></header>
    <main class="container">
        <div class="postTags" th:each="postTag: ${postTagsModel}">
            <a th:href="|/postTag/${postTag.id}|">
                <h1 th:text="${postTag.name}">Name</h1>
            </a>

        </div>
    </main>
    <footer th:replace="fragments/footer.html :: footer"></footer>
</body>

</html>